.LandingPageModule {
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(128.75deg, #FF5C00 0%, #B600D8 77.96%);
}

.LandingPageModule2 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(130.02deg, #0075FF 0.67%, #0016E0 83.32%);
}

h1{
    font: normal 800 65px Poppins;
    line-height: 109%;
}

h2{
    font: bold 20px Poppins;
}

p {
    margin: 30px 0;
    font: normal 25px Roboto;
    line-height: 109%;
}
 
button {
    color:white;
    cursor: pointer;
}

/* Barra de navegação */

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 75px;
}

ul li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font: normal 500 14px Roboto;
    padding: 10px;
    color:white;
}

.cadastro{
    border: 1px solid #F8F8F8;
    font: normal 600 14px Poppins;
    background-color: transparent;
    border-radius: 41px;
    padding: 10px 20px;
    margin: 0 40px;
}

.login{
    background: #FF9F0A;
    font: normal 600 14px Poppins;
    border-radius: 30px;
    padding: 12px 24px; 
    outline: none;
    border:none;
}

.page1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 200px 100px 0;
}

.text {
    width: 40%;
    max-width: 600px;
}

.text p {
    font-size: 24px;
}

.image {
    width: 60%;
    max-width: 800px;
}

.register-anchors {
    display: flex;
    align-items: center;
}

.register-anchors a {
    width: 200px;
    margin: 20px;
    padding: 14px 24px;

    font: normal bold 18px Poppins;
    color: white;
    line-height: 18px;
    text-align: center;
    
    border: none;
    border-radius: 30px;
}

#sou-dev {
    background: #FF9F0A;
}

#busco-dev {
    background: #BF5AF2;
}
