@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --purple-primary:#B600D8;
    --purple-hover: #8E00A8;
    --purple-active: #C922E8;
    /*
    --pink-primary:#FF718C;
    --pink-hover: #EA4363;
    --pink-activate: #FF9AAD;
    --hotpink-primary:#FF2D55;
    --hotpink-hover: #E51A41;
    --hotpink-active: #FF5475;
    */
    --lilas-primary: #BF5AF2;
    --lilas-hover: #B435F4;
    --lilas-active: #C976F2;
    /*
    --orange-primary: #FF5C00;
    --orange-hover: #FF5C00;
    --orange-active: #FF7E36;
    */
    --yellow-primary: #FF9F0A;
    --yellow-hover: #E88D00;
    --yellow-active: #FFB84A;

    --off-white:#ffffff;
    --inputbackgroud: #F2F4FF;
    --line: #C6C8D7;
    --placeholder: #A4A5AD;
    --label: #6B6D7D;
    --text-title:#0F0F12;

    --danger-primary:#FF453A;
    --danger-hover: #F42417;
    --danger-active: #FF6057;
    
    --sucess-primary: #32D74B;
    --sucess-hover: #14BC2D;
    --sucess-active: #58EE6F;

    --warning-primary: #FFD60A;;
    --warning-hover: #E2BC00;
    --warning-active: #FFE45E;
    
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Poppins', sans-serif;

    --bg-primary: linear-gradient(130.02deg, #FF5C00 0.66%, #B600D8 83.32%);
    --bg-accent: linear-gradient(130.02deg, #0A84FF 0.66%, #0016E0 83.32%);
    --bg-basic:  linear-gradient(166.29deg, #590069 0%, #AD0441 90.19%);   
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* Buttons */

.btn{
    border-radius: 41px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Images */
.img-responsive{
    max-width: 100%;
    width:auto;
}
