.LoginModal {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
}

.LoginModal button {
    width: 100%;
    height: 3rem;
    margin: 20px 0;
    padding: 10px 30px;

    color: white;
    background-color: var(--primaryColor);

    font-size: 18px;
    border: none;
    border-radius: 16px;

    cursor: pointer;
}

p, label {
    font-size: 14px;
}

p.link {
    display: inline;
    color: var(--primaryColor);
}