.BackgroundForms {
    width: 100%;
    height: 100vh;
    background: linear-gradient(128.75deg, #FF5C00 0%, #B600D8 77.96%);
    position: absolute;
    z-index: 0;
    top: 0;
}

.BackgroundForms img {
    width: 100%;
    height: 100vh;
}