.LoginModule {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginModule .elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
